@mixin icons-fontello {

	@font-face {
	  font-family: 'fontello';
	  src: url(fontello.eot);
	  src: url(fontello.eot?#iefix) format('embedded-opentype'), url(fontello.woff) format('woff'), url(fontello.ttf) format('truetype'), url(fontello.svg#fontello) format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before,
	[class^="icon-"].v-label:before,
	[class*=" icon-"].v-label:before,
	[class*="-icon-"].v-menubar-menuitem:before {
	  font-family: 'fontello';
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  text-align: center;
	  line-height: 1;
	  margin-right: .4em;
	  vertical-align: 1px;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before {
		margin: 0;
		margin-left: -.3em;
	}
	
	[class^="icon-"] > span > .v-button-caption,
	[class^="icon-"] > .v-nativebutton-caption,
	[class*=" icon-"] > span > .v-button-caption,
	[class*=" icon-"] > .v-nativebutton-caption {
	  margin-left: .3em;
	}
	
	@include icon(transactions, '\E808');
	@include icon(dashboard, '\e808');
	@include icon(reports, '\e862');	
	@include icon(schedule, '\e818');
	@include icon(sales, '\e878');
	@include icon(cog, '\e815');
	@include icon(cog, '\e815');
	@include icon(user, '\e86b');
	@include icon(attention, '\e824');
	@include icon(edit, '\e818');
	@include icon(bell, '\e852');
	@include icon(cancel, '\e842');
	@include icon(cliente, '\e845');
	@include icon(contas, '\e885');
	@include icon(processos, '\e882');
	
}